<table class="table table-bordered table-striped">
	<thead class="thead-dark">
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>E-mail</th>
			<th></th>
		</tr>
	</thead>
	<% for (let i = 0; i < contacts.length; i++) { %>
		<tr>
			<div class="col-4">
				<td><%= contacts[i].name %></td>
			</div>
			<div class="col-3">
				<td><%= contacts[i].phone %></td>
			</div>
			<div class="col-3">
				<td><%= contacts[i].email %></td>
			</div>
			<div class="col-2">
				<td>
					<div class="row">
						<div class="col">
							<a class="btn btn-primary w-100" href="/business_contacts/edit/<%= contacts[i]._id %>">Edit</a>
						</div>
						<div class="col">
							<a class="btn btn-danger w-100" href="/business_contacts/delete/<%= contacts[i]._id %>">Delete</a>
						</div>
					</div>
				</td>
			</div>
		</tr>
	<% } %>
</table>
