<!-- index.ejs - Joshua Eagles - 301078033 - 2020-10-07 -->

<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="container-md">
	<h1 class="text-center mt-4"><%= title %></h1>
	<hr class="mb-5">

	<%- include('./partials/' + partialName + '.ejs') %>
</div>

<%- include('./partials/footer.ejs') %>
